# Contents
### First Section - Libraries and dataset
#### 1.1 - Libraries
#### 1.2 - Datasets
##### 1.2.1 - Sources
##### 1.2.2 - Imports
##### 1.2.3 - Metric Groups
### Second Section - Dataset Exploration
#### 2.1 - Global Data on Sustainable Energy
#### 2.2 - Global Warming Trends
#### 2.3 - GDP of Each Country and Region
#### 2.4 - Country Population
### Third Section - Data Preparation
#### 3.1 - Data Cleaning
##### 3.1.1 - Global Data on Sustainable Energy
##### 3.1.2 - Global Warming Trends
##### 3.1.3 - GDP of Each Country and Region
##### 3.1.4 - Country Population
#### 3.2 - Data Integration
##### 3.2.1 - Data About Russian Energy Production and CO2 Emissions
##### 3.2.2 - Data About Russian Temperature Deviation
##### 3.2.3 - Data About South Korean Energy Production
### Fourth Section - Dataset Creation
#### 4.1 - General Dataset
#### 4.2 - Energy Dataset
#### 4.3 - Bubble Chart Dataset

# First Section - Libraries and Datasets

## 1.1 - Libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

## 1.2 - Datasets

#### 1.2.1 - Sources

The sources to the datasets are:

- Global Data on Sustainable Energy:
    - https://www.kaggle.com/datasets/anshtanwar/global-data-on-sustainable-energy/data
- Human Development Index Historical data:
    - https://www.kaggle.com/datasets/gregorygeorge62/hdi-1990-2022
- Global Warming Trends:
    - https://www.kaggle.com/datasets/jawadawan/global-warming-trends-1961-2022
- GDP of Each Country and Region:
    - https://www.kaggle.com/datasets/holoong9291/gdp-of-all-countries19602020
- Country Population:
    - https://www.kaggle.com/datasets/ayushparwal2026/country-population-from-1960-to-2022
- Data on Russian Energy Production, Access to Electricity, CO2 Emissions and Temperature Deviation
    - https://www.iea.org/countries/russia/electricity
    - https://www.macrotrends.net/global-metrics/countries/rus/russia/electricity-access-statistics
    - https://www.worldometers.info/co2-emissions/russia-co2-emissions/
    - https://www.statista.com/statistics/1057448/russia-temperature-change/
- Data on South Korean Energy Production, CO2 Emissions and Access to Electricity
    - https://www.iea.org/countries/korea/electricity
    - https://www.iea.org/countries/russia/emissions
    - https://www.macrotrends.net/global-metrics/countries/rus/russia/electricity-access-statistics

#### 1.2.2 - Imports

The majority of the data was imported from the source as is, except for the last three datasets for russia and the last two datasets for korea. These sets where merged in Google Docs and saved respectively as "rus_data" and "kor_data", the both of which can be found on github in the "Additional_Data" folder.

In [2]:
sus_en = pd.read_csv('global-data-on-sustainable-energy.csv')

In [3]:
tempe = pd.read_csv('long_format_annual_surface_temp.csv')

In [4]:
gdp = pd.read_csv('gdp_1960_2020.csv')

In [5]:
pop = pd.read_csv('cleaned_data_Task1.csv')

In [6]:
rus_en = pd.read_csv('International Energy Agency - electricity generation sources in Russia.csv')

In [7]:
rus = pd.read_csv('rus_data.csv') # Contains both Energy Access and Temperature data

In [8]:
kor_en = pd.read_csv('International Energy Agency - electricity generation sources in Korea.csv')

In [9]:
kor_co2 = pd.read_csv('kor_data.csv')

#### 1.2.3 Metrics Groups

The metrics obtained from combining all the imported datasets are:

- Miscellaneous:
    - Financial flows to developing countries
    - GDP growth
    - GDP per capita
    - Population density
    - Land area
    - Latitude
    - Longitude
    - Population

- Energy:
    - Access to electricity
    - Access to clean fuels for cooking
    - Renewable electricity generating capacity
    - Renewable energy share in the total final energy consumption
    - Electricity from fossil fuels
    - Electricity from nuclear
    - Electricity from renewables
    - Low-carbon electricity
    - Primary energy consumption per capita
    - Energy intensity level of primary energy
    - Renewables %
   
- Environment:
    - CO2 emissions
    - Temperature

From these only a few are going to be maintained in the final datasets.

# Second Section - Dataset Exploration

## 2.1 - Global Data on Sustainable Energy

Displaying the first few rows:

In [10]:
sus_en.head()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

Computing all the single countries:

In [11]:
sus_en_country = pd.unique(sus_en['Entity'])
sus_en_country

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'French Guiana', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Romania', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Tajikistan', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

Computing all the single years:

In [12]:
sus_en_year = pd.unique(sus_en['Year'])
sus_en_year

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
      dtype=int64)

Computing the dataset shape:

In [13]:
sus_en.shape

(3649, 21)

Looking for duplicates:

In [14]:
sus_en.duplicated().sum()

0

Looking for missing data by column:

In [15]:
sus_en.isnull().sum()

Entity                                                                 0
Year                                                                   0
Access to electricity (% of population)                               10
Access to clean fuels for cooking                                    169
Renewable-electricity-generating-capacity-per-capita                 931
Financial flows to developing countries (US $)                      2089
Renewable energy share in the total final energy consumption (%)     194
Electricity from fossil fuels (TWh)                                   21
Electricity from nuclear (TWh)                                       126
Electricity from renewables (TWh)                                     21
Low-carbon electricity (% electricity)                                42
Primary energy consumption per capita (kWh/person)                     0
Energy intensity level of primary energy (MJ/$2017 PPP GDP)          207
Value_co2_emissions_kt_by_country                                    428
Renewables (% equivalent primary energy)                            2137
gdp_growth                                                           317
gdp_per_capita                                                       282
Density\n(P/Km2)                                                       1
Land Area(Km2)                                                         1
Latitude                                                               1
Longitude                                                              1
dtype: int64

### 2.2 - Global Warming Trends

Displaying the first few rows:

In [16]:
tempe.head()

                        Country ISO2   Year  Temperature
0  Afghanistan, Islamic Rep. of   AF  F1961       -0.113
1                       Albania   AL  F1961        0.627
2                       Algeria   DZ  F1961        0.164
3                American Samoa   AS  F1961        0.079
4      Andorra, Principality of   AD  F1961        0.736

Computing all the single countries:

In [17]:
tempe_country = pd.unique(tempe['Country'])
tempe_country

array(['Afghanistan, Islamic Rep. of', 'Albania', 'Algeria',
       'American Samoa', 'Andorra, Principality of', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria',
       'Bahamas, The', 'Bahrain, Kingdom of', 'Bangladesh', 'Barbados',
       'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Rep.', 'Chad', 'Chile',
       'China, P.R.: Hong Kong', 'China, P.R.: Macao',
       'China, P.R.: Mainland', 'Colombia', 'Comoros, Union of the',
       'Congo, Dem. Rep. of the', 'Congo, Rep. of', 'Cook Islands',
       'Cuba', 'Cyprus', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Rep.', 'Ecuador', 'Egypt, Arab Rep. of', 'El Salvador',
       'Equatorial Guinea, Rep. of', 'Eswatini, Kingdom of',
       'Faroe Islands', 'Fiji, Rep. of', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Germany', 'Ghana',
       'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep. of', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep. of", 'Korea, Rep. of',
       'Kuwait', "Lao People's Dem. Rep.", 'Lebanon',
       'Lesotho, Kingdom of', 'Liberia', 'Libya', 'Liechtenstein',
       'Madagascar, Rep. of', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Martinique', 'Mauritania, Islamic Rep. of', 'Mauritius',
       'Mayotte', 'Mexico', 'Monaco', 'Mongolia', 'Montserrat', 'Morocco',
       'Mozambique, Rep. of', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands, The', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norfolk Island', 'Norway', 'Oman', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland, Rep. of', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Saint Helena', 'Saint Pierre and Miquelon', 'Samoa',
       'San Marino, Rep. of', 'São Tomé and Príncipe, Dem. Rep. of',
       'Saudi Arabia', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Suriname', 'Sweden',
       'Switzerland', 'Syrian Arab Rep.', 'Taiwan Province of China',
       'Tanzania, United Rep. of', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Vanuatu', 'Venezuela, Rep. Bolivariana de', 'Vietnam',
       'Wallis and Futuna Islands', 'West Bank and Gaza',
       'Western Sahara', 'World', 'Zambia', 'Zimbabwe'], dtype=object)

Computing all the single years:

In [18]:
tempe_year = pd.unique(tempe['Year'])
tempe_year

array(['F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966', 'F1967',
       'F1968', 'F1969', 'F1970', 'F1971', 'F1972', 'F1973', 'F1974',
       'F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980', 'F1981',
       'F1982', 'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988',
       'F1989', 'F1990', 'F1991', 'F1992', 'F1993', 'F1994', 'F1995',
       'F1996', 'F1997', 'F1998', 'F1999', 'F2000', 'F2001', 'F2002',
       'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009',
       'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016',
       'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022'], dtype=object)

Computing the dataset shape:

In [19]:
tempe.shape

(11222, 4)

Looking for duplicates:

In [20]:
tempe.duplicated().sum()

0

Looking for missing data by column:

In [21]:
tempe.isnull().sum()

Country        0
ISO2           0
Year           0
Temperature    0
dtype: int64

### 2.3 - GDP of Each Country and Region

Displaying the first few rows:

In [22]:
gdp.head()

   year  rank            country    state           gdp  gdp_percent
0  1960     1  the United States  America  543300000000     0.468483
1  1960     2     United Kingdom   Europe   73233967692     0.063149
2  1960     3             France   Europe   62225478000     0.053656
3  1960     4              China     Asia   59716467625     0.051493
4  1960     5              Japan     Asia   44307342950     0.038206

Computing all the single countries:

In [23]:
gdp_country = pd.unique(gdp['country'])
gdp_country

array(['the United States', 'United Kingdom', 'France', 'China', 'Japan',
       'Canada', 'Italy', 'India', 'Australia', 'Sweden', 'Brazil',
       'Turkey', 'Mexico', 'Netherlands', 'Spain', 'Belgium',
       'Switzerland', 'Venezuela', 'South Africa', 'Philippines',
       'Austria', 'Denmark', 'New Zealand', 'Finland', 'Norway', 'Greece',
       'Bangladesh', 'Iran', 'Nigeria', 'Chile', 'Columbia',
       'South Korea', 'Pakistan', 'Congo (gold)', 'Portugal', 'Thailand',
       'Algeria', 'Israel', 'Peru', 'Morocco', 'Ireland', 'Malaysia',
       'Puerto Rico', 'Iraq', 'Sri Lanka', 'Hong Kong', 'Sudan',
       'Uruguay', 'Garner', 'Zimbabwe', 'Guatemala', 'Ecuador', 'Syria',
       'Senegal', 'Kenya', 'Zambia', 'Singapore', 'Luxembourg', 'Jamaica',
       'Madagascar', 'Dominica', 'Cambodia', 'Cameroon', 'Bolivia',
       "C ô te d'Ivoire", 'Afghanistan', 'Panama', 'Trinidad and Tobago',
       'Nepal', 'Costa Rica', 'Niger', 'Uganda', 'Honduras',
       'Burkina Faso', 'Sierra Leone', 'Chad', 'Haiti', 'Iceland',
       'Papua New Guinea', 'Benin', 'Nicaragua', 'Burundi', 'Liberia',
       'Somalia', 'Guyana', 'Bahamas', 'Malawi', 'Gabon',
       'Congo (Brazzaville)', 'Togo', 'Rwanda', 'Fiji Islands',
       'Central Africa', 'Suriname', 'Mauritania', 'Bermuda', 'Eswatini',
       'Lesotho', 'Botswana', 'Belize',
       'Saint Vincent and the Grenadines', 'Saint Kitts and Nevis',
       'Seychelles', 'Argentina', 'Equatorial Guinea', 'Egypt', 'Kuwait',
       'Tunisia', 'El Salvador', 'Jordan', 'Paraguay', 'French Polynesia',
       'New Caledonia', 'Brunei', 'Oman', 'Gambia', 'Indonesia', 'Mali',
       'Solomon Islands', 'Saudi Arabia', 'Germany', 'Cuba', 'Qatar',
       'Monaco', 'Malta', 'Liechtenstein', 'Guinea Bissau', 'Andorra',
       'Greenland', 'Kiribati', 'Barbados', 'United Arab Emirates',
       'Cyprus', 'Tonga', 'Mauritius', 'Saint Lucia',
       'Antigua and Barbuda', 'Grenada', 'Vanuatu', 'Bulgaria', 'Angola',
       'Mozambique', 'Bahrain', 'Namibia', 'Cape Verde', 'Bhutan',
       'Comoros', 'Maldives', 'Ethiopia', 'Mongolia', 'Marshall Islands',
       'Macao', 'Samoa', 'Micronesia (Federated States of)', 'Albania',
       'Laos', 'Vietnam', 'Djibouti', 'Guinea', 'Aruba', 'Ukraine',
       'Romania', 'Turkmenistan', 'Russia', 'Tanzania', 'Lebanon',
       'Poland', 'Czech', 'Libya', 'Kazakhstan', 'Belarus', 'Slovenia',
       'Uzbekistan', 'Slovakia', 'Azerbaijan', 'Georgia', 'Yemen',
       'Macedonia', 'Moldova', 'Kyrgyzstan', 'Tajikistan', 'Armenia',
       'Palau', 'Tuvalu', 'Hungary', 'Eritrea', 'Estonia', 'Palestine',
       'Bosnia and Herzegovina', 'Croatia', 'Serbia', 'Lithuania',
       'Latvia', 'Isle of man', 'Cayman Islands', 'Faroe Islands',
       'Myanmar', 'San Marino', 'Montenegro', 'Timor Leste',
       'Turks and Caicos Islands', 'Sao Tome and Principe.', 'Guam',
       'Northern Mariana Islands', 'American Samoa', 'Nauru',
       'South Sultan', 'Cura ç Ao', 'Netherlands Saint Martin'],
      dtype=object)

Computing all the single years:

In [24]:
gdp_year = pd.unique(gdp['year'])
gdp_year

array([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

Computing the dataset shape:

In [25]:
gdp.shape

(10134, 6)

Looking for duplicates:

In [26]:
gdp.duplicated().sum()

0

Looking for missing data by column:

In [27]:
gdp.isnull().sum()

year           0
rank           0
country        0
state          0
gdp            0
gdp_percent    0
dtype: int64

### 2.4 - Country Population

Displaying the first few rows:

In [28]:
pop.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,59291.0,59522.0,59471.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,153955516.0,158313235.0,162875171.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,9783147.0,10010030.0,10247780.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,110798486.0,113319950.0,115921723.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,5787044.0,5827503.0,5868203.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0

Computing all the single countries:

In [29]:
pop_country = pd.unique(pop['Country Name'])
pop_country

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Viet Nam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

Computing all the single years:

In [30]:
pop_year = pop.columns[1:].to_numpy()
pop_year

array(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967',
       '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype=object)

Computing the dataset shape:

In [31]:
pop.shape

(266, 64)

Looking for duplicates:

In [32]:
pop.duplicated().sum()

0

Looking for missing data by column:

In [33]:
pop.isnull().sum()

Country Name    0
1960            0
1961            0
1962            0
1963            0
               ..
2018            0
2019            0
2020            0
2021            0
2022            0
Length: 64, dtype: int64

# Third Section - Data Preparation

## 3.1 - Data cleaning

#### 3.1.1 - Global Data on Sustainable Energy

Removing unnecessary columns

In [34]:
sus_en.drop(columns=['Access to clean fuels for cooking',
                     'Renewable-electricity-generating-capacity-per-capita',
                     'Financial flows to developing countries (US $)',
                     'Renewable energy share in the total final energy consumption (%)',
                     'Low-carbon electricity (% electricity)',
                     'Primary energy consumption per capita (kWh/person)',
                     'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
                     'Renewables (% equivalent primary energy)',
                     'gdp_growth','gdp_per_capita', 'Density\\n(P/Km2)',
                     'Land Area(Km2)', 'Latitude', 'Longitude'], inplace=True)

Renaming the column 'Entity' as 'Country':

In [35]:
sus_en = sus_en.rename(columns={'Entity':'Country'})

#### 3.1.2 - Global Warming Trends

Formatting country names:

In [36]:
# Creating a dict with old and new names
namedict = {'Afghanistan, Islamic Rep. of' : 'Afghanistan',
            'American Samoa' : 'Samoa',
            'Andorra, Principality of' :  'Andorra',
            'Bahamas, The' : 'Bahamas',
            'Bahrain, Kingdom of' : 'Bahrain',
            'British Virgin Islands' : 'Virgin Islands UK',
            'Brunei Darussalam' : 'Brunei',
            'Cabo Verde' : 'Cape Verde',
            'Central African Rep.' : 'Central African Republic',
            'China, P.R.: Hong Kong' : 'Hong Kong',
            'China, P.R.: Macao' : 'Macao',
            'China, P.R.: Mainland' : 'China',
            'Comoros, Union of the' : 'Comoros',
            'Congo, Dem. Rep. of the' : 'Democratic Republic of Congo',
            'Congo, Rep. of' : 'Congo',
            'Dominican Rep.' : 'Dominican Republic',
            'Egypt, Arab Rep. of' : 'Egypt',
            'Equatorial Guinea, Rep. of' : 'Equatorial Guinea',
            'Eswatini, Kingdom of' : 'Eswatini',
            'Fiji, Rep. of' : 'Fiji',
            'Gambia, The' : 'Gambia',
            'Holy See' : 'Vatican',
            'Iran, Islamic Rep. of' : 'Iran',
            "Korea, Dem. People's Rep. of" : 'North Korea',
            'Korea, Rep. of' : 'South Korea',
            "Lao People's Dem. Rep." : 'Laos',
            'Lesotho, Kingdom of' : 'Lesotho',
            'Madagascar, Rep. of' : 'Madagascar',
            'Mauritania, Islamic Rep. of' : 'Mauritania',
            'Mozambique, Rep. of' : 'Mozambique',
            'Netherlands, The' : 'Netherlands',
            'Poland, Rep. of' : 'Poland',
            'San Marino, Rep. of' : 'San Marino',
            'São Tomé and Príncipe, Dem. Rep. of' : 'Sao Tome and Principe',
            'St. Kitts and Nevis' : 'Saint Kitts and Nevis',
            'St. Lucia' : 'Saint Lucia',
            'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines',
            'Syrian Arab Rep.' : 'Syria',
            'Taiwan Province of China' : 'Taiwan',
            'Tanzania, United Rep. of' : 'Tanzania',
            'United States Virgin Islands' : 'Virgin Islands US',
            'Venezuela, Rep. Bolivariana de' : 'Venezuela',
            'West Bank and Gaza' : 'Palestine'
           }

In [37]:
# Replacing the old names with the new ones
tempe['Country'].replace(namedict, inplace=True)

Computing the new single countries:

In [38]:
tempe_country = pd.unique(tempe['Country'])
tempe_country

array(['Afghanistan', 'Albania', 'Algeria', 'Samoa', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Australia',
       'Austria', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Botswana', 'Brazil',
       'Virgin Islands UK', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'Hong Kong', 'Macao',
       'China', 'Colombia', 'Comoros', 'Democratic Republic of Congo',
       'Congo', 'Cook Islands', 'Cuba', 'Cyprus', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eswatini', 'Faroe Islands',
       'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Vatican', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Kiribati',
       'North Korea', 'South Korea', 'Kuwait', 'Laos', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Monaco',
       'Mongolia', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Norfolk Island', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Saint Helena', 'Saint Pierre and Miquelon',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia',
       'South Africa', 'Spain', 'Sri Lanka', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tanzania', 'Thailand',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Virgin Islands US', 'Uruguay', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna Islands', 'Palestine', 'Western Sahara',
       'World', 'Zambia', 'Zimbabwe'], dtype=object)

Formatting year values:

In [39]:
# Creating a remover function
def remover(row):
    return int(row[1:])

In [40]:
# Implementing the remover function to the year column
tempe['Year'] = tempe['Year'].apply(remover)

#### 3.1.3 - GDP of Each Country and Region

Removing the useless columns and formatting the names of the ones left:

In [41]:
gdp.drop(['rank', 'state', 'gdp_percent'], axis=1, inplace=True)
gdp.rename(columns={'year':'Year', 'country':'Country', 'gdp':'GDP'}, inplace=True)

Formatting country names:

In [42]:
# Creating a dict with old and new names
namedict = {"C ô te d'Ivoire" : "Cote d'Ivoire",
            'Central Africa' : 'Central African Republic',
            'Columbia' : 'Colombia',
            'Congo (Brazzaville)' : 'Congo',
            'Congo (gold)' : 'Democratic Republic of Congo',
            'Cura ç Ao' : 'Curacao',
            'Czech' : 'Czechia',
            'Fiji Islands' : 'Fiji',
            'Micronesia (Federated States of)' : 'Micronesia (country)',
            'South Sultan' : 'South Sudan',
            'the United States' : 'United States'
           }

In [43]:
# Replacing the old names with the new ones
gdp['Country'].replace(namedict, inplace=True)

#### 3.1.4 - Country Population

Renaming the column 'Country Name' as 'Country':

In [44]:
pop.rename(columns={'Country Name':'Country'}, inplace=True)

Transposing the year columns as row values in a column 'Year':

In [45]:
pop = pop.melt(id_vars='Country', var_name='Year', value_name='Population')

Formatting year values:

In [46]:
# Creating a function to convert str to int
def intmaker(row):
    return int(row)

In [47]:
# Implementing the function to the year column
pop['Year'] = pop['Year'].apply(intmaker)

Formatting country names:

In [48]:
# Creating a dict with old and new names
namedict = {'Bahamas, The' : 'Bahamas',
            'British Virgin Islands' : 'Virgin Islands UK',
            'Cabo Verde' : 'Cape Verde',
            'Congo, Dem. Rep.' : 'Democratic Republic of Congo',
            'Congo, Rep.' : 'Congo',
            'Gambia, The' : 'Gambia',
            'Hong Kong SAR, China' : 'Hong Kong',
            'Iran, Islamic Rep.' : 'Iran',
            "Korea, Dem. People's Rep." : 'North Korea',
            'Korea, Rep.' : 'South Korea',
            'Kyrgyz Republic' : 'Kyrgyzstan',
            'Lao PDR' : 'Laos',
            'Macao SAR, China' : 'Macao',
            'Micronesia, Fed. Sts.' : 'Micronesia (country)',
            'Russian Federation' : 'Russia',
            'Slovak Republic' : 'Slovakia',
            'St. Kitts and Nevis' :  'Saint Kitts and Nevis',
            'St. Lucia' : 'Saint Lucia',
            'St. Vincent and the Grenadines' : 'Saint Vincent and the Grenadines',
            'Syrian Arab Republic' : 'Syria',
            'Timor-Leste' : 'East Timor',
            'Venezuela, RB' : 'Venezuela',
            'Viet Nam' : 'Vietnam',
            'Virgin Islands (U.S.)' : 'Virgin Islands US',
            'West Bank and Gaza' : 'Palestine',
            'Yemen, Rep.' : 'Yemen'
           }

In [49]:
# Replacing the old names with the new ones
pop['Country'].replace(namedict, inplace=True)

## 3.2 - Data Integration

#### 3.2.1 - Data About Russian Energy Production and CO2 Emissions

Adding data about Russia changing the units to TWh:

In [50]:
rus_en['Value'] = rus_en['Value']/1000
rus_en.drop('Units', axis = 1, inplace = True)

Finding unique values for the energy sources in the dataset:

In [51]:
rus_en['electricity generation sources in Russia'].unique()

array(['Coal', 'Oil', 'Natural gas', 'Nuclear', 'Hydro', 'Biofuels',
       'Waste', 'Wind', 'Solar PV', 'Geothermal'], dtype=object)

Adapting the shape of the rus dataset to that of sus_en:

In [52]:
rus_en = rus_en.pivot(columns = 'electricity generation sources in Russia', values = 'Value', index = 'Year').reset_index()

rus_en.fillna(0, inplace = True)

rus_en['Electricity from renewables (TWh)'] = rus_en['Hydro'] + rus_en['Biofuels'] + rus_en['Wind'] + rus_en['Solar PV'] + rus_en['Geothermal']

rus_en.rename(columns = {'Nuclear':'Electricity from nuclear (TWh)'}, inplace = True)

rus_en['Electricity from fossil fuels (TWh)'] = rus_en['Coal'] + rus_en['Oil'] + rus_en['Natural gas']

rus_en.drop(columns = ['Hydro', 'Biofuels', 'Waste', 'Wind', 'Solar PV', 'Geothermal', 'Coal', 'Oil', 'Natural gas'], inplace = True)

Adding data about access to electricity and CO2 emissions:

In [53]:
rus_en = rus_en.merge(rus[['Country','Year','Access to electricity (% of population)','Value_co2_emissions_kt_by_country']], on = 'Year')

Adding data to the sus_en dataframe:

In [54]:
sus_en = pd.concat([sus_en,rus_en])

#### 3.2.2 - Data About Russian Temperature Deviation

Adding the column ISO2:

In [55]:
rus['ISO2'] = 'RU'

Adding data to the tempe dataframe:

In [56]:
tempe = pd.concat([tempe,rus.drop(['Access to electricity (% of population)','Value_co2_emissions_t_by_country','Value_co2_emissions_kt_by_country'], axis = 1)])

#### 3.2.3 - Data About South Korean Energy Production

Adding the column ISO2:

In [57]:
rus['ISO2'] = 'RU'

Adding data to the tempe dataframe:

In [58]:
tempe = pd.concat([tempe,rus.drop(['Access to electricity (% of population)','Value_co2_emissions_t_by_country','Value_co2_emissions_kt_by_country'], axis = 1)])

Adding data about South Korea changing the units to TWh:

In [59]:
kor_en['Value'] = kor_en['Value']/1000
kor_en.drop('Units', axis = 1, inplace = True)

Finding unique values for the energy sources in the dataset:

In [60]:
kor_en['electricity generation sources in Korea'].unique()

array(['Coal', 'Oil', 'Natural gas', 'Nuclear', 'Hydro', 'Tide',
       'Biofuels', 'Waste', 'Wind', 'Solar PV', 'Other sources'],
      dtype=object)

Adapting the shape of the rus dataset to that of sus_en:

In [61]:
kor_en = kor_en.pivot(columns = 'electricity generation sources in Korea', values = 'Value', index = 'Year').reset_index()

kor_en = kor_en[kor_en['Year'] <= 2020]

kor_en.fillna(0, inplace = True)

kor_en['Electricity from renewables (TWh)'] = kor_en['Hydro'] + kor_en['Biofuels'] + kor_en['Wind'] + kor_en['Solar PV'] + kor_en['Tide']

kor_en.rename(columns = {'Nuclear':'Electricity from nuclear (TWh)'}, inplace = True)

kor_en['Electricity from fossil fuels (TWh)'] = kor_en['Coal'] + kor_en['Oil'] + kor_en['Natural gas']

kor_en.drop(columns = ['Hydro', 'Biofuels', 'Waste', 'Wind', 'Solar PV', 'Tide', 'Coal', 'Oil', 'Natural gas', 'Other sources'], inplace = True)

Adding the column Country:

In [62]:
kor_en['Country'] = 'South Korea'

Adding the column Access to electricity (% of population), always equal to 100% according to the linked page:

In [63]:
kor_en['Access to electricity (% of population)'] = 100

Adding data about CO2 emissions:

In [64]:
kor_en = kor_en.merge(kor_co2[['Year','Value_co2_emissions_kt_by_country']], on = 'Year')

Adding data to the sus_en dataframe:

In [65]:
sus_en = pd.concat([sus_en,kor_en])

# Fourth Section - Datasets Creation

Computing the common countries between the datasets:

In [66]:
common_countries = np.intersect1d(sus_en_country, tempe_country)
common_countries

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Australia', 'Austria',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belize', 'Benin',
       'Bhutan', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso',
       'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cuba', 'Cyprus', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eswatini', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kenya', 'Kiribati', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Seychelles',
       'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Tuvalu', 'Uganda', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Vanuatu', 'Zambia', 'Zimbabwe'],
      dtype=object)

Computing the different countries between the datasets:

In [67]:
different_countries = np.setxor1d(sus_en_country, tempe_country)

different_countries

array(['Andorra', 'Anguilla', 'Armenia', 'Aruba', 'Azerbaijan', 'Belarus',
       'Belgium', 'Bermuda', 'Bolivia', 'Bosnia and Herzegovina',
       'Brunei', 'Burundi', 'Cape Verde', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Czechia', 'Democratic Republic of Congo', 'Eritrea',
       'Estonia', 'Ethiopia', 'Faroe Islands', 'French Guiana',
       'French Polynesia', 'Georgia', 'Gibraltar', 'Greenland',
       'Guadeloupe', 'Hong Kong', 'Iran', 'Isle of Man', 'Kazakhstan',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao', 'Martinique', 'Mayotte', 'Monaco',
       'Montenegro', 'Montserrat', 'Nauru', 'Norfolk Island',
       'North Korea', 'North Macedonia', 'Palestine', 'Rwanda',
       'Saint Helena', 'Saint Pierre and Miquelon', 'San Marino',
       'Serbia', 'Singapore', 'Slovakia', 'Slovenia', 'South Korea',
       'South Sudan', 'Sudan', 'Syria', 'Taiwan', 'Tajikistan',
       'Tanzania', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Ukraine', 'Uzbekistan', 'Vatican', 'Venezuela', 'Vietnam',
       'Virgin Islands UK', 'Virgin Islands US',
       'Wallis and Futuna Islands', 'Western Sahara', 'World', 'Yemen'],
      dtype=object)

## 4.1 - General Dataset

Merging sustainable energy and temperature datasets:

In [68]:
dataset = sus_en.merge(tempe[(tempe['Year']>1999) & (tempe['Year']<2021)], how='outer', on=['Country', 'Year'])

Grouping country regions in a dataset:

In [69]:
# Assigning a region to each country
countrydict = {'Afghanistan' : 'ND',
               'Albania' : 'ND',
               'Algeria' : 'Northern Africa',
               'Andorra' : 'ND',
               'Angola' : 'Subsaharan Africa',
               'Anguilla' : 'ND',
               'Antigua and Barbuda' : 'ND',
               'Arab States (UNDP)' : 'ND',
               'Argentina' : 'Central and Southern America',
               'Armenia' : 'ND',
               'Aruba' : 'ND',
               'Australia' : 'Australia and New Zealand',
               'Austria' : 'European Union',
               'Azerbaijan' : 'ND',
               'Bahamas' : 'ND',
               'Bahrain' : 'Arabian Peninsula',
               'Bangladesh' : 'ND',
               'Barbados' : 'ND',
               'Belarus' : 'ND',
               'Belgium' : 'European Union',
               'Belize' : 'Central and Southern America',
               'Benin' : 'Subsaharan Africa',
               'Bermuda' : 'ND',
               'Bhutan' : 'ND',
               'Bolivia' : 'Central and Southern America',
               'Bosnia and Herzegovina' : 'ND',
               'Botswana' : 'Subsaharan Africa',
               'Brazil' : 'Central and Southern America',
               'Brunei' : 'ND',
               'Bulgaria' : 'European Union',
               'Burkina Faso' : 'Subsaharan Africa',
               'Burundi' : 'Subsaharan Africa',
               'Cambodia' : 'ND',
               'Cameroon' : 'Subsaharan Africa',
               'Canada' : 'Canada',
               'Cape Verde' : 'ND',
               'Cayman Islands' : 'ND',
               'Central African Republic' : 'Subsaharan Africa',
               'Chad' : 'Subsaharan Africa',
               'Chile' : 'Central and Southern America',
               'China' : 'China',
               'Colombia' : 'Central and Southern America',
               'Comoros' : 'ND',
               'Congo' : 'Subsaharan Africa',
               'Cook Islands' : 'ND',
               'Costa Rica' : 'Central and Southern America',
               "Cote d'Ivoire" : 'Subsaharan Africa',
               'Croatia' : 'European Union',
               'Cuba' : 'Central and Southern America',
               'Cyprus' : 'European Union',
               'Czechia' : 'European Union',
               'Democratic Republic of Congo' : 'Subsaharan Africa',
               'Denmark' : 'European Union',
               'Djibouti' : 'Subsaharan Africa',
               'Dominica' : 'ND',
               'Dominican Republic' : 'Central and Southern America',
               'East Asia and the Pacific (UNDP)' : 'ND',
               'East Timor' : 'ND',
               'Ecuador' : 'Central and Southern America',
               'Egypt' : 'Northern Africa',
               'El Salvador' : 'Central and Southern America',
               'Equatorial Guinea' : 'Subsaharan Africa',
               'Eritrea' : 'Subsaharan Africa',
               'Estonia' : 'European Union',
               'Eswatini' : 'Subsaharan Africa',
               'Ethiopia' : 'Subsaharan Africa',
               'Europe and Central Asia (UNDP)' : 'ND',
               'Faroe Islands' : 'ND',
               'Fiji' : 'ND',
               'Finland' : 'European Union',
               'France' : 'European Union',
               'French Guiana' : 'ND',
               'French Polynesia' :'ND',
               'Gabon' : 'Subsaharan Africa',
               'Gambia' : 'Subsaharan Africa',
               'Georgia' : 'ND',
               'Germany' :'European Union',
               'Ghana' : 'Subsaharan Africa',
               'Gibraltar' : 'ND',
               'Greece' : 'European Union',
               'Greenland' : 'ND',
               'Grenada' : 'ND',
               'Guadeloupe' : 'ND',
               'Guatemala' : 'Central and Southern America',
               'Guinea' : 'Subsaharan Africa',
               'Guinea-Bissau' : 'Subsaharan Africa',
               'Guyana' : 'Central and Southern America',
               'Haiti' : 'Central and Southern America',
               'High human development (UNDP)' : 'ND',
               'Honduras' : 'Central and Southern America',
               'Hong Kong' : 'ND',
               'Hungary' : 'European Union',
               'Iceland' : 'ND',
               'India' : 'India',
               'Indonesia' : 'ND',
               'Iran' : 'ND',
               'Iraq' : 'Arabian Peninsula',
               'Ireland' : 'European Union',
               'Isle of Man' : 'ND',
               'Israel' : 'ND',
               'Italy' : 'European Union',
               'Jamaica' : 'Central and Southern America',
               'Japan' : 'Japan and Korea',
               'Jordan' : 'Arabian Peninsula',
               'Kazakhstan' : 'Central Asia',
               'Kenya' : 'Subsaharan Africa',
               'Kiribati' : 'ND',
               'Korea' : 'Japan and Korea',
               'Kuwait' : 'Arabian Peninsula',
               'Kyrgyzstan' : 'Central Asia',
               'Laos' : 'ND',
               'Latin America and the Caribbean (UNDP)' : 'ND',
               'Latvia' : 'European Union',
               'Lebanon' : 'ND',
               'Lesotho' : 'Subsaharan Africa',
               'Liberia' : 'Subsaharan Africa',
               'Libya' : 'Northern Africa',
               'Liechtenstein' : 'ND',
               'Lithuania' : 'European Union',
               'Low human development (UNDP)' : 'ND',
               'Luxembourg' : 'European Union',
               'Macao' : 'ND',
               'Madagascar' : 'Subsaharan Africa',
               'Malawi' : 'Subsaharan Africa',
               'Malaysia' : 'ND',
               'Maldives' : 'ND',
               'Mali' : 'Subsaharan Africa',
               'Malta' : 'European Union',
               'Marshall Islands' : 'ND',
               'Martinique' : 'ND',
               'Mauritania' : 'Subsaharan Africa',
               'Mauritius' : 'ND',
               'Mayotte' : 'ND',
               'Medium human development (UNDP)' : 'ND',
               'Mexico' : 'Central and Southern America',
               'Micronesia (country)' : 'ND',
               'Moldova' : 'ND',
               'Monaco' : 'ND',
               'Mongolia' : 'Central Asia',
               'Montenegro' : 'ND',
               'Montserrat' : 'ND',
               'Morocco' : 'Northern Africa',
               'Mozambique' : 'Subsaharan Africa',
               'Myanmar' : 'ND',
               'Namibia' : 'Subsaharan Africa',
               'Nauru' : 'ND',
               'Nepal' : 'ND',
               'Netherlands' : 'European Union',
               'New Caledonia' : 'ND',
               'New Zealand' : 'Australia and New Zealand',
               'Nicaragua' : 'Central and Southern America',
               'Niger' : 'Subsaharan Africa',
               'Nigeria' : 'Subsaharan Africa',
               'Norfolk Island' : 'ND',
               'North Korea' : 'ND',
               'North Macedonia' : 'ND',
               'Norway' : 'ND',
               'Oman' : 'Arabian Peninsula',
               'Pakistan' : 'ND',
               'Palau' : 'ND',
               'Palestine' : 'ND',
               'Panama' : 'Central and Southern America',
               'Papua New Guinea' : 'ND',
               'Paraguay' : 'Central and Southern America',
               'Peru' : 'Central and Southern America',
               'Philippines' : 'ND',
               'Poland' : 'European Union',
               'Portugal' : 'European Union',
               'Puerto Rico' : 'Central and Southern America',
               'Qatar' : 'Arabian Peninsula',
               'Romania' : 'European Union',
               'Russia' : 'Russia',
               'Rwanda' : 'Subsaharan Africa',
               'Saint Helena' : 'ND',
               'Saint Kitts and Nevis' : 'ND',
               'Saint Lucia' : 'ND',
               'Saint Pierre and Miquelon' : 'ND',
               'Saint Vincent and the Grenadines' : 'ND',
               'Samoa' : 'ND',
               'San Marino' : 'ND',
               'Sao Tome and Principe' : 'ND',
               'Saudi Arabia' : 'Arabian Peninsula',
               'Senegal' : 'Subsaharan Africa',
               'Serbia' : 'ND',
               'Seychelles' : 'ND',
               'Sierra Leone' : 'Subsaharan Africa',
               'Singapore' : 'ND',
               'Slovakia' : 'European Union',
               'Slovenia' : 'European Union',
               'Solomon Islands' : 'ND',
               'Somalia' : 'Subsaharan Africa',
               'South Africa' : 'Subsaharan Africa',
               'South Asia (UNDP)' : 'ND',
               'South Korea' : 'Japan and Korea',
               'South Sudan' : 'Subsaharan Africa',
               'Spain' : 'European Union',
               'Sri Lanka' : 'ND',
               'Sub-Saharan Africa (UNDP)' : 'ND',
               'Sudan' : 'Subsaharan Africa',
               'Suriname' : 'Central and Southern America',
               'Sweden' : 'European Union',
               'Switzerland' : 'ND',
               'Syria' : 'ND',
               'Taiwan' : 'ND',
               'Tajikistan' : 'Central Asia',
               'Tanzania' : 'Subsaharan Africa',
               'Thailand' : 'ND',
               'Togo' : 'Subsaharan Africa',
               'Tonga' : 'ND',
               'Trinidad and Tobago' : 'ND',
               'Tunisia' : 'Northern Africa',
               'Turkey' : 'ND',
               'Turkmenistan' : 'Central Asia',
               'Turks and Caicos Islands' : 'ND',
               'Tuvalu' : 'ND',
               'Uganda' : 'Subsaharan Africa',
               'Ukraine' : 'ND',
               'United Arab Emirates' : 'Arabian Peninsula',
               'United Kingdom' : 'United Kingdom',
               'United States' : 'United States',
               'Uruguay' : 'Central and Southern America',
               'Uzbekistan' : 'Central Asia',
               'Vanuatu' : 'ND',
               'Vatican' : 'ND',
               'Venezuela' : 'Central and Southern America',
               'Very high human development (UNDP)' : 'ND',
               'Vietnam' : 'ND',
               'Virgin Islands UK' : 'ND',
               'Virgin Islands US' : 'ND',
               'Wallis and Futuna Islands' : 'ND',
               'Western Sahara' : 'Northern Africa',
               'World' : 'ND',
               'Yemen' : 'Arabian Peninsula',
               'Zambia' : 'Subsaharan Africa',
               'Zimbabwe' : 'Subsaharan Africa'
              }

In [70]:
# Creating a region dataset
countryset = pd.Series(countrydict).reset_index()
countryset.columns = ['Country', 'Region']

Merging the region dataset to the complete dataset:

In [71]:
dataset = dataset.merge(countryset, on=['Country'])

Exporting the general dataset:

In [72]:
dataset.to_csv('dataset.csv')

## 4.2 - Energy Dataset

Selecting the columns of interest:

In [73]:
temp_dataset = dataset[['Country', 'Year', 'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)', 'Electricity from renewables (TWh)', 'Region']]

Changing columns names to enhance readability in LOoker Studio

In [74]:
temp_dataset.rename(columns={'Electricity from fossil fuels (TWh)':'Fossil Fuels','Electricity from nuclear (TWh)':'Nuclear','Electricity from renewables (TWh)':'Renewables'},inplace=True)

Unpivoting the dataset to obtain a new column 'Energy Source':

In [75]:
energy_dataset = temp_dataset.melt(id_vars=['Country', 'Year', 'Region'], var_name=' Energy Source', value_name='Energy Output (TWh)')

Exporting the dataset:

In [76]:
energy_dataset.to_csv('energy_dataset.csv')

## 4.3 - Bubble Chart Dataset

Merging GDP and population datasets to the general dataset:

In [77]:
bubble_dataset = dataset[dataset['Region']!='ND'].merge(
    gdp, how='left', on=['Country', 'Year']
    ).merge(
    pop, how='left', on=['Country', 'Year'])

Removing all rows with missing data on the columns of interest:

In [78]:
bubble_dataset = bubble_dataset[(bubble_dataset['GDP'].notnull())
                                & (bubble_dataset['Population'].notnull())
                                & (bubble_dataset['Value_co2_emissions_kt_by_country'].notnull())
                                & (bubble_dataset['Electricity from nuclear (TWh)'].notnull())
                                & (bubble_dataset['Electricity from renewables (TWh)'].notnull())
                                & (bubble_dataset['Electricity from fossil fuels (TWh)'].notnull())
                               ]

Computing the GDP per capita:

In [79]:
gdp_capita = bubble_dataset.groupby(['Region', 'Year']).sum()['GDP'] / bubble_dataset.groupby(['Region', 'Year']).sum()['Population']

Computing the CO2 emissions per capita:

In [80]:
co2_capita = bubble_dataset.groupby(['Region', 'Year']).sum()['Value_co2_emissions_kt_by_country'] / bubble_dataset.groupby(['Region', 'Year']).sum()['Population']

Computing the clean energy production per capita:

In [81]:
bubble_sum = bubble_dataset.groupby(['Region', 'Year']).sum()

In [82]:
green_capita = ((bubble_sum['Electricity from nuclear (TWh)']+bubble_sum['Electricity from renewables (TWh)'])/bubble_sum['Population'])*10**9

Joining all the datasets:

In [83]:
bubble_dataset = co2_capita.to_frame(name='CO2 emissions per capita').join(
    [green_capita.rename('Green energy per capita'), gdp_capita.rename('GDP per capita')])

Exporting the dataset:

In [84]:
bubble_dataset.to_csv('bubble_dataset.csv')